<% @handle = @view_data[:handle] %>

  <h2><%= @handle.name %></h2>
  
  <% if @handle.forum_banned %>
  <div class="alert alert-danger">
    This player has been banned from the AresMUSH forums.
  </div>
  <% end %>
  
  <% if !@handle.image_url.blank? %>
      <a href="<%= @handle.image_url %>"><img src="<%= @handle.image_url %>" class="profile-image"/></a>
  <% end %>
    
  <% if !@handle.profile.blank? %>
<p>      <%= @markdown.render(@handle.profile) %></p>
  <% end %>
  
  <h3>Characters</h3>
  
  <ul>
  <% @handle.current_chars(@user).select { |c| c.game }.sort_by { |c| c.game.name }.each do |c| %>
    <li>
    <%= c.name %>@<a href="/game/<%= c.game.id %>/detail"><%= c.game.name %></a>
    </li>
  <% end %>
  </ul>
  
  <h3>Past Characters</h3>
  
  <ul>
  <% @handle.old_chars(@user).select { |c| c.game }.sort_by { |c| c.game.name }.each do |c| %>
    <li>
        <%= c.name %>@<a href="/game/<%= c.game.id %>/detail"><%= c.game.name %></a>
    </li>
  <% end %>
  </ul>
  

  <% if (@user && @user.is_admin) %>
  <hr/>   
  
  <div class="panel panel-default">
    
    <div class="panel-heading">Admin Info</div>
    
    <div class="panel-body">
      <p>Email: <%= @handle.email %></p>

      <p>Favorite MUSH: <%= @handle.security_question %></p>
  

      <div class="alert alert-danger">


        <form method="POST" action="/handle/<%= @handle.id %>/change_status">
            <input type="hidden" name="handle_id" value="<%= @handle.id %>">
            <input type="hidden" name="status" value="Ban">
            <input type="submit" value="Ban">        
        </form>
      </div>
    </div>
  </div>
  
  <% end %>