<% @handle = @view_data[:handle] %>

<h2>Friends</h2>

  <% @handle.friendships.sort_by { |fr| fr.friend.name }.each do |f| %>
  <p>
    <%= f.friend.name %>  
    
    <form method="POST" action="/handle/<%= @handle.id %>/friend/delete">
        <input type="hidden" name="friend_id" value="<%= f.friend.id %>">
        <input type="submit" value="Unfriend">        
    </form>
  </p>
  <hr/>
  <% end %>

<h2>Add Friend</h2>

<form method="POST" action="/handle/<%= @handle.id %>/friend/add">

 <p>
<select name="friend_id">
  <% @view_data[:handles].sort_by { |h| h.name }.each do |h| %>
      <% if h.id != @handle.id && !@handle.friends.include?(h) %>
          <option value="<%= h.id %>"><%= h.name %></option> 
      <% end %>
  <% end %>
</select>
 </p>
     
 <p> <input type="submit" value="Add a New Friend"> </p>
</form>