<% @handle = @view_data[:handle] %>

<h2>Linked Characters</h2>

  <% @handle.linked_chars.sort_by { |c| c.game.name }.each do |c| %>
  <p>
    <%= c.name %>@<a href="/game/<%= c.game.id %>/detail"><%= c.game.name %></a>
    
    <form method="POST" action="/handle/<%= @handle.id %>/char/delete">
        <input type="hidden" name="char_id" value="<%= c.id %>">
        <input type="submit" value="Unlink">        
    </form>
    
    <form method="POST" action="/handle/<%= @handle.id %>/char/reset_password">
        <input type="hidden" name="char_id" value="<%= c.id %>">
        <input type="submit" value="Reset Password">        
    </form>
  </p>
  <hr/>
  <% end %>

<h2>Link Codes</h2>

<p>You can use one of these codes to link a character to your handle.  Each code may only be used once.  Log into an AresMUSH game with the character you wish to link and type the command: <code>handle/link <%= @user.name %>=&lt;code&gt;</code></p>

<ul>
<% @handle.link_codes.each do |c| %>
  <li><%= c %></li>
<% end %>
</ul>


<form method="POST" action="/handle/<%= @handle.id %>/char/add">
 <p> <input type="submit" value="Get A New Link Code"> </p>
</form>
