    <table  class="table table-striped">
    <tr>
        <th>Game</th>
        <th>Address</th>
        <th>Status</th>
        <th>Privacy</th>
        <th>Up</th>
        <th>ID</th>
        <th>Last Check-In</th>
    </tr>
  <% @games.each do |g| %>
  <tr>
      <td><a href="/game/<%= g.id %>/detail"><%= g.name %></a> </td>
      <td><a href="<%= g.address %>"><%= g.address %></a> </td>
      <td><%= format_game_status g.status %></td>
      <td><%= format_privacy(g.public_game) %></td>
      <td><%= format_up_status(g.up_status) %></td>
      <td><%= g.id %></td>
      <td><%= g.last_ping %></td>
  </tr>
  <% end %>
  
  
  </table>
  
<ul>
  <li><%= @games.count %> total games</li>
  <li><%= @games.select { |g| g.public_game && g.is_open? && !g.is_in_dev? }.count %> games open to public</li>
  <li><%= @games.select { |g| g.public_game && g.is_open? && g.is_in_dev? && g.up_status == "Up" }.count %> games in public dev</li>
  <li><%= @games.select { |g| !g.public_game && g.up_status == "Up" }.count %> private games</li>
  <li><%= @games.select { |g| !g.is_open? || g.up_status == "Down" }.count %> closed games</li>
</ul>