<h2>Archive</h2>

<p>Closed AresMUSH games are archived here.</p>

<p>Some games have used the <a href="https://aresmush.com/tutorials/manage/web-archive.html">wiki export</a> feature to make a static HTML archive of the web portal. If the archive is a ZIP file, just unzip the files on your local PC and then open "index.html" in your web browser. You can then browse the files offline.</p>

  <table  class="table table-striped">
  <tr>
      <th>Game</th>
      <th>Category</th>
      <th>Last Up</td>
      <th></th>
  </tr>
<% @closed_games.sort_by { |g| g.name }.each do |g| %>
<% if g.is_public? %>
<tr>
    <td><a href="/game/<%= g.id %>/detail"><%= g.name %></a></td>
    <td><%= g.category %> </td>
    <td><%= g.last_ping.strftime("%d %B %Y") %></td>
    <td>
      <% if g.wiki_archive %>
        <a href="<%= g.wiki_archive %>" class="btn btn-default">View Archive</a> 
      <% end %>
    </td>
</tr>
<% end %>
<% end %>
</table>
