<% @game = @view_data[:game] %>
<h2><%= @game.name %></h2>

<% if @game.public_game || (@user && @user.is_admin) %>

  <p> <%= @markdown.render(@game.description) %></p>

<hr/>


<% if @game.wiki_archive %>
<div class="alert alert-warning">
  
  <h4>Archived!</h4>

  <p><b>This game has closed.</b></p>

  <p>A partial archive of the web portal is available in the <a href="/wiki/<%= @game.wiki_archive %>">archive</a>.</p>
  
  </div>

<hr>

<% end %>
  
  
  <h3>Status</h3>

  <p><%= format_game_status @game.status %></p>
  <p><%= format_up_status @game.up_status %> <%= @game.name %> last checked in with AresCentral on <%= @game.last_ping %></p>

<hr/>

  
<h3>Game Info</h3>
  
  <p><b>Category:</b> <%= @game.category %></p>
    
  <% if !@game.host.blank? %>
  <p><b>Address:</b> <%= @game.host %>:<%= @game.port %></p>
  <% end %>
  
  <% if !@game.website.blank? %>
      <p><b>Game Website:</b> <a href="<%= @game.website %>"><%= @game.website %></a></p>
  <% end %>

  <hr/>
  
<% if !@game.wiki_archive %>
  <h3>Activity</h3>
  <p>Average logins over the last couple weeks at different time periods.</p>
  <p><i class="fa fa-square"></i> = 5 players, <i class="fa fa-square-o"></i> = 1-4 players</p>
    
    <table class="table table-bordered ">
       <tr>
        <th>&nbsp;</th>
         <% Game.activity_times.each_with_index do |time, time_index| %>
            <th><%= time %></th>
         <% end %>
       <tr>
     <% Game.activity_days.each_with_index do |day, day_index| %>
        <tr>
          <td><%= day %></td>
        <% Game.activity_times.each_with_index do |time, time_index| %>
          <td>              
              
              <%= (@game.average_logins(day_index, time_index)/5).times.collect { |x| "<i class=\"fa fa-square\"></i>" }.join.html_safe %><% if (@game.average_logins(day_index, time_index)%5) > 0 %><i class="fa fa-square-o"></i><% end %>
              </td>
        <% end %>
        </tr>
    <% end %>

    </table>
<% end %>
  
  <h3>Characters</h3>
  
  <% @game.linked_chars.group_by { |c| c.handle }.sort_by { |h, c| h.name }.each do |handle, chars| %>
  <p><b><a href="/handle/<%= handle.id %>/detail">@<%= handle.name %></a></b></p>
  
  <ul>
      <% chars.each do |c|%>
        <li><%= c.name %></li>
      <% end %>
  </ul>
  <% end %>
  


<% else %>
   <p>This game is not open to the public.</p>
<% end %>

<% if (@user && @user.is_admin) %>
<hr/>
  <form method="POST" action="/game/<%= @game.id %>/delete">
      <input type="hidden" name="game_id" value="<%= @game.id %>">
      <input type="submit" value="Delete">        
  </form>
<% end %>