<p>The AresMUSH games directory lists all public games running AresMUSH.</p>
    
    <table  class="table table-striped">
    <tr>
        <th>Game</th>
        <th>Category</th>
        <th>Address</th>
        <th>Activity</th>
        <th>Status</th>
        <th>Up</td>
    </tr>
  <% @open_games.sort_by { |g| g.category }.each do |g| %>
  <% if g.is_public? %>
  <tr>
      <td><a href="/game/<%= g.id %>/detail"><%= g.name %></a></td>
      <td><%= g.category %> </td>
      <td><a href="<%= g.address %>"><%= g.address %></a> </td>
      <td>
        <% g.activity_rating.times.each do |n| %>
        <i class="fa fa-star"></i> 
        <% end %>

        <% if (@user && @user.is_admin) %>
        <%= g.activity_points %>
        <% end %>

      </td>
      <td><%= format_game_status g.status %></td>
      <td><%= format_up_status(g.up_status) %></td>
  </tr>
  <% end %>
  <% end %>
  
  
  
</table>

<ul>
  <li>Activity - Summarizes how often 5+ players are logged in over the past few weeks. (0-4 stars)</li>
  <li>Status - Reflects how complete the game is, as reported by the game owner.</li>
  <li>Up - Reflects whether the game has checked in with AresCentral recently.</li>
</ul>


  
  <b>Closed Games</b>
  
  <ul>
  <% @closed_games.sort_by { |g| g.name }.each do |g| %>
  <% if g.is_public? %>
  <li><a href="/game/<%= g.id %>/detail"><%= g.name %></a> </li>  
  <% end %>
  <% end %>
  </ul>
  
  
<% if (@user && @user.is_admin) %>
<hr/>
<a href="/games/admin">[ Admin View ] </a>
<% end %>